body {
	background-color: #cceeff;
}

.container-mrg {
	margin-top: 20px;
}

.container-pdd {
	padding: 20px;
}

.container-mrg-lg {
	margin-top: 80px;
}

.btn-pdd {
	padding: 12px;
	text-align: left;
}

.label-details {
	color : #666666;
	text-align: right;
	padding: 2px 10px 2px;
}

.sub-label-details {
	color : #666666;
	display: inline-block;
}

.modal-dialog {
	margin-top: 100px;
}

.rmv-btm-margin {
	margin-bottom: 0px
}

.rmv-top-margin {
	margin-top: 0px
}

@media screen and (min-width: 480px) {
    a.navbar-brand {
        content: "FJC";
    }
}