<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <!-- <a class="navbar-brand" href="">Federation of jewish communities of the CIS</a> -->
            <ul class="nav navbar-nav">
                <li><a href="#/user">משתמש<!-- User panel --></a></li>
                <li><a href="#/user/cases">הפניות שלי<!-- My cases --></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login" ng-click="logout()"><span class="glyphicon glyphicon-log-in"></span> יציאה <!-- Log out --></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container container-mrg-lg">
	<div class="panel panel-default">
        <div class="panel-heading">
            <h4 id="tables">משתמש<!-- User panel --></h4>
        </div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<!-- <div class="page-header" style="text-align: center; margin-top: 10px">
                        <img src="http://res.cloudinary.com/dfs2je0ss/image/upload/v1474900062/logo_djcykg.png" width="180px" >
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="btn-group-vertical col-sm-12" style="margin-bottom: 10px">
                        <button type="button" class="btn btn-default btn-block btn-pdd" ng-repeat="(key,value) in model.forms" ng-click="view(key)">{{value.label}}</button>
                    </div>
                </div>
                <div class="col-sm-8">

                    <!-- Visa to Russia issue -->
                    <div class="thumbnail container-pdd" ng-show="model.forms['Visa to Russia issue'].view">
                        <form class="form-horizontal" name="formRussiaVisa" ng-submit="submit('Visa to Russia issue')" novalidate>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <h4>ויזה לרוסיה<!-- Visa to Russia issue --></h4>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formRussiaVisa.officeAddress.$invalid && !formRussiaVisa.officeAddress.$pristine} , {'rmv-btm-margin': formRussiaVisa.officeAddress.$invalid && !formRussiaVisa.officeAddress.$pristine}]">
                                <div class="control-label col-sm-3">כתובת המשרד<!-- Office address --> <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="officeAddress" 
                                        class="form-control" 
                                        ng-model="model.forms['Visa to Russia issue']['Address']" 
                                        ng-required="true"
                                        ng-minlength="4" 
                                        ng-maxlength="20">
                                    <p ng-show="formRussiaVisa.officeAddress.$error.required && !formRussiaVisa.officeAddress.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>כתובת משרד שדה חובה<!-- Office address required --></small>
                                    </p>
                                    <p ng-show="formRussiaVisa.officeAddress.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formRussiaVisa.officeAddress.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formRussiaVisa.passportNumber.$invalid && !formRussiaVisa.passportNumber.$pristine} , {'rmv-btm-margin': formRussiaVisa.passportNumber.$invalid && !formRussiaVisa.passportNumber.$pristine}]">
                                <div class="control-label col-sm-3">מספר דרכון<!-- Passport code --> <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="passportNumber" 
                                        class="form-control" 
                                        ng-model="model.forms['Visa to Russia issue']['Passport code']" 
                                        ng-required="true"
                                        ng-minlength="4" 
                                        ng-maxlength="6">
                                    <p ng-show="formRussiaVisa.passportNumber.$error.required && !formRussiaVisa.passportNumber.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>מספר דרכון שדה חובה<!-- Passport code required --></small>
                                    </p>
                                    <p ng-show="formRussiaVisa.passportNumber.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formRussiaVisa.passportNumber.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-4">
                                    <small class="help-block"><div style="color:red;display:inline-block;">*</div> - שדה חובה<!-- Required field --></small>
                                </div>
                            </div>
                            <div class="form-group"> 
                                <div class="col-sm-offset-3 col-sm-4">
                                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="formRussiaVisa.$invalid">שמור<!-- Submit --></button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Visa to Ukraine issue -->
                    <div class="thumbnail container-pdd" ng-show="model.forms['Visa to Ukraine issue'].view">
                        <form class="form-horizontal" name="formUkraineVisa" ng-submit="submit('Visa to Ukraine issue')" novalidate>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <h4>ויזה לאוקראינה<!-- Visa to Ukraine issue --></h4>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formUkraineVisa.officeAddress.$invalid && !formUkraineVisa.officeAddress.$pristine} , {'rmv-btm-margin': formUkraineVisa.officeAddress.$invalid && !formUkraineVisa.officeAddress.$pristine}]">
                                <div class="control-label col-sm-3">כתובת המשרד<!-- Office address --> <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="officeAddress" 
                                        class="form-control" 
                                        ng-model="model.forms['Visa to Ukraine issue']['Address']"
                                        ng-required="true"
                                        ng-minlength="4" 
                                        ng-maxlength="20">
                                    <p ng-show="formUkraineVisa.officeAddress.$error.required && !formRussiaVisa.officeAddress.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>כתובת משרד שדה חובה<!-- Office address required --></small>
                                    </p>
                                    <p ng-show="formUkraineVisa.officeAddress.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formUkraineVisa.officeAddress.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formUkraineVisa.passportNumber.$invalid && !formUkraineVisa.passportNumber.$pristine} , {'rmv-btm-margin': formUkraineVisa.passportNumber.$invalid && !formUkraineVisa.passportNumber.$pristine}]">
                                <div class="control-label col-sm-3">מספר דרכון<!-- Passport code --> <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="passportNumber" 
                                        class="form-control" 
                                        ng-model="model.forms['Visa to Ukraine issue']['Passport code']" 
                                        ng-required="true"
                                        ng-minlength="4" 
                                        ng-maxlength="6">
                                    <p ng-show="formUkraineVisa.passportNumber.$error.required && !formRussiaVisa.passportNumber.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>מספר דרכון שדה חובה<!-- Passport code required --></small>
                                    </p>
                                    <p ng-show="formUkraineVisa.passportNumber.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formUkraineVisa.passportNumber.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-4">
                                    <small class="help-block"><div style="color:red;display:inline-block;">*</div> - שדה חובה<!-- Required field --></small>
                                </div>
                            </div>
                            <div class="form-group"> 
                                <div class="col-sm-offset-3 col-sm-4">
                                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="formUkraineVisa.$invalid">שמור<!-- Submit --></button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Airport transfer equipment -->
                    <div class="thumbnail container-pdd" ng-show="model.forms['Airport transfer equipment'].view">
                        <form class="form-horizontal" name="formAirportEquip" ng-submit="submit('Airport transfer equipment')">
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <h4>מספר טיסה<!-- Airport transfer equipment --></h4>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formAirportEquip.name.$invalid && !formAirportEquip.name.$pristine} , {'rmv-btm-margin': formAirportEquip.name.$invalid && !formAirportEquip.name.$pristine}]">
                                <div class="control-label col-sm-3">שם הציוד<!-- Name of equipment --> <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="name" 
                                        class="form-control" 
                                        ng-model="model.forms['Airport transfer equipment']['Name']" 
                                        ng-required="true"
                                        ng-minlength="4" 
                                        ng-maxlength="30">
                                    <p ng-show="formAirportEquip.name.$error.required && !formAirportEquip.name.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>שם ציוד שדה חובה<!-- Name of equipment required --></small>
                                    </p>
                                    <p ng-show="formAirportEquip.name.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formAirportEquip.name.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formAirportEquip.from.$invalid && !formAirportEquip.from.$pristine} , {'rmv-btm-margin': formAirportEquip.from.$invalid && !formAirportEquip.from.$pristine}]">
                                <div class="control-label col-sm-3">מיקום מקור<!-- From place --> <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="from" 
                                        class="form-control" 
                                        ng-model="model.forms['Airport transfer equipment']['From']" 
                                        ng-required="true"
                                        ng-minlength="4" 
                                        ng-maxlength="30">
                                    <p ng-show="formAirportEquip.from.$error.required && !formAirportEquip.from.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>מיקום מקור שדה חובה<!-- From place required --></small>
                                    </p>
                                    <p ng-show="formAirportEquip.from.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formAirportEquip.from.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formAirportEquip.to.$invalid && !formAirportEquip.to.$pristine} , {'rmv-btm-margin': formAirportEquip.to.$invalid && !formAirportEquip.to.$pristine}]">
                                <div class="control-label col-sm-3">מיקום יעד<!-- To place --> <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="to" 
                                        class="form-control" 
                                        ng-model="model.forms['Airport transfer equipment']['To']" 
                                        ng-required="true"
                                        ng-minlength="4" 
                                        ng-maxlength="30">
                                    <p ng-show="formAirportEquip.to.$error.required && !formAirportEquip.to.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>מיקום יעד שדה חובה<!-- To place required --></small>
                                    </p>
                                    <p ng-show="formAirportEquip.to.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formAirportEquip.to.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formAirportEquip.date.$invalid && !formAirportEquip.date.$pristine} , {'rmv-btm-margin': formAirportEquip.date.$invalid && !formAirportEquip.date.$pristine}]">
                                <div class="control-label col-sm-3">תאריך<!-- Date --> <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" 
                                            name="date"
                                            class="form-control" 
                                            uib-datepicker-popup="{{format}}" 
                                            ng-model="model.forms['Airport transfer equipment'].date" 
                                            is-open="popup1.opened" 
                                            datepicker-options="dateOptions" 
                                            ng-required="true" 
                                            close-text="Close" 
                                            alt-input-formats="altInputFormats" >
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()" style="padding:9px"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                    <p ng-show="formAirportEquip.date.$error.required && !formAirportEquip.date.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>תאריך שדה חובה<!-- Date required --></small>
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-4">
                                    <small class="help-block"><div style="color:red;display:inline-block;">*</div> - שדה חובה<!-- Required field --></small>
                                </div>
                            </div>
                            <div class="form-group"> 
                                <div class="col-sm-offset-3 col-sm-4">
                                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="formAirportEquip.$invalid">שמור<!-- Submit --></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="thumbnail container-pdd" ng-show="model.forms['Banking'].view">
                        <form class="form-horizontal" name="formBanking" ng-submit="submit('Banking')">
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <h4>בנק<!-- Banking --></h4>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formBanking.amount.$invalid && !formBanking.amount.$pristine} , {'rmv-btm-margin': formBanking.amount.$invalid && !formBanking.amount.$pristine}]">
                                <div class="control-label col-sm-3">סכום<!-- Amount --> ($) <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="amount" 
                                        class="form-control" 
                                        ng-model="model.forms['Banking']['Amount']" 
                                        ng-required="true"
                                        ng-minlength="1" 
                                        ng-maxlength="20"
                                        ng-pattern="/^[0-9]{1,7}$/">
                                    <p ng-show="formBanking.amount.$error.required && !formBanking.amount.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>סכום שדה חובה<!-- Amount required --></small>
                                    </p>
                                    <p ng-show="formBanking.amount.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formBanking.amount.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                    </p>
                                    <p ng-show="formBanking.amount.$error.pattern" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>סכום לא תקין<!-- Invalid amount --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formBanking.from.$invalid && !formBanking.from.$pristine} , {'rmv-btm-margin': formBanking.from.$invalid && !formBanking.from.$pristine}]">
                                <div class="control-label col-sm-3">מ<!-- From --> <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="from" 
                                        class="form-control" 
                                        ng-model="model.forms['Banking']['From']" 
                                        ng-required="true"
                                        ng-minlength="4" 
                                        ng-maxlength="30">
                                    <p ng-show="formBanking.drom.$error.required && !formBanking.drom.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>שדה חובה מ <!-- From field required --></small>
                                    </p>
                                    <p ng-show="formBanking.drom.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formBanking.drom.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formBanking.to.$invalid && !formBanking.to.$pristine} , {'rmv-btm-margin': formBanking.to.$invalid && !formBanking.to.$pristine}]">
                                <div class="control-label col-sm-3">ל<!-- To --> <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="to" 
                                        class="form-control" 
                                        ng-model="model.forms['Banking']['To']" 
                                        ng-required="true"
                                        ng-minlength="4" 
                                        ng-maxlength="30">
                                    <p ng-show="formBanking.to.$error.required && !formBanking.to.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>שדה חובה ל<!-- To field required --></small>
                                    </p>
                                    <p ng-show="formBanking.to.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formBanking.to.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formBanking.info.$invalid && !formBanking.info.$pristine} , {'rmv-btm-margin': formBanking.info.$invalid && !formBanking.info.$pristine}]">
                                <div class="control-label col-sm-3">מידע נוסף<!-- Additional info --></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="info" 
                                        class="form-control" 
                                        ng-model="model.forms['Banking']['Addition info']" 
                                        ng-minlength="4" 
                                        ng-maxlength="40">
                                    <p ng-show="formBanking.info.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formBanking.info.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formBanking.date.$invalid && !formBanking.date.$pristine} , {'rmv-btm-margin': formBanking.date.$invalid && !formBanking.date.$pristine}]">
                                <div class="control-label col-sm-3">תאריך<!-- Date --> <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" 
                                            name="date"
                                            class="form-control" 
                                            uib-datepicker-popup="{{format}}" 
                                            ng-model="model.forms['Banking']['Date']" 
                                            is-open="popup1.opened" 
                                            datepicker-options="dateOptions" 
                                            ng-required="true" 
                                            close-text="Close" 
                                            alt-input-formats="altInputFormats" >
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()" style="padding:9px"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                    <p ng-show="formBanking.date.$invalid && !formBanking.date.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>לא תקין</small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group"> 
                                <div class="col-sm-offset-3 col-sm-4">
                                    <button type="submit" class="btn btn-primary btn-block"  ng-disabled="formBanking.$invalid">שמור<!-- Submit --></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="thumbnail container-pdd" ng-show="model.forms['Credit Debit'].view">
                        <form class="form-horizontal" name="formDebit" ng-submit="submit('Credit Debit')">
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <h4>כרטיס אשראי<!-- Credit Debit --></h4>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formDebit.amount.$invalid && !formDebit.amount.$pristine} , {'rmv-btm-margin': formDebit.amount.$invalid && !formDebit.amount.$pristine}]">
                                <div class="control-label col-sm-3">סכום<!-- Amount --> ($) <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="amount" 
                                        class="form-control" 
                                        ng-model="model.forms['Credit Debit']['Amount']" 
                                        ng-required="true"
                                        ng-minlength="1" 
                                        ng-maxlength="20"
                                        ng-pattern="/^[0-9]{1,7}$/">
                                    <p ng-show="formDebit.amount.$error.required && !formDebit.amount.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>סכום שדה חובה<!-- Amount required --></small>
                                    </p>
                                    <p ng-show="formDebit.amount.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formDebit.amount.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                    </p>
                                    <p ng-show="formDebit.amount.$error.pattern" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>סכום לא תקין<!-- Invalid amount --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formDebit.from.$invalid && !formDebit.from.$pristine} , {'rmv-btm-margin': formDebit.from.$invalid && !formDebit.from.$pristine}]">
                                <div class="control-label col-sm-3">מ<!-- From --> <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="from" 
                                        class="form-control" 
                                        ng-model="model.forms['Credit Debit']['From']" 
                                        ng-required="true"
                                        ng-minlength="4" 
                                        ng-maxlength="30">
                                    <p ng-show="formDebit.from.$error.required && !formDebit.from.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>שדה חובה מ <!-- From field required --></small>
                                    </p>
                                    <p ng-show="formDebit.from.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formDebit.from.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formDebit.to.$invalid && !formDebit.to.$pristine} , {'rmv-btm-margin': formDebit.to.$invalid && !formDebit.to.$pristine}]">
                                <div class="control-label col-sm-3">ל<!-- To --> <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="to" 
                                        class="form-control" 
                                        ng-model="model.forms['Credit Debit']['To']" 
                                        ng-required="true"
                                        ng-minlength="4" 
                                        ng-maxlength="30">
                                    <p ng-show="formDebit.to.$error.required && !formDebit.to.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>שדה חובה ל<!-- To field required --></small>
                                    </p>
                                    <p ng-show="formDebit.to.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formDebit.to.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formDebit.info.$invalid && !formDebit.info.$pristine} , {'rmv-btm-margin': formDebit.info.$invalid && !formDebit.info.$pristine}]">
                                <div class="control-label col-sm-3">מידע נוסף<!-- Additional info --></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="info" 
                                        class="form-control" 
                                        ng-model="model.forms['Credit Debit']['Addition info']" 
                                        ng-minlength="4" 
                                        ng-maxlength="40">
                                    <p ng-show="formDebit.info.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formDebit.info.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>>קצר מדי<!-- To long --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formDebit.date.$invalid && !formDebit.date.$pristine} , {'rmv-btm-margin': formDebit.date.$invalid && !formDebit.date.$pristine}]">
                                <div class="control-label col-sm-3">תאריך<!-- Date --> <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" 
                                            name="date"
                                            class="form-control" 
                                            uib-datepicker-popup="{{format}}" 
                                            ng-model="model.forms['Credit Debit']['Date']" 
                                            is-open="popup1.opened" 
                                            datepicker-options="dateOptions" 
                                            ng-required="true" 
                                            close-text="Close" 
                                            alt-input-formats="altInputFormats" 
                                            ng-change="change(model.forms['Credit Debit']['Date'])">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()" style="padding:9px"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                    <p ng-show="formDebit.date.$invalid && !formDebit.date.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>לא תקין</small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-4">
                                    <small class="help-block"><div style="color:red;display:inline-block;">*</div> - שדה חובה<!-- Required field --></small>
                                </div>
                            </div>
                            <div class="form-group"> 
                                <div class="col-sm-offset-3 col-sm-4">
                                    <button type="submit" class="btn btn-primary btn-block"  ng-disabled="formDebit.$invalid">שמור<!-- Submit --></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="thumbnail container-pdd" ng-show="model.forms['Purchase'].view">
                        <form class="form-horizontal" name="purchase" ng-submit="submit('Purchase')">
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <h4>לִרְכּוֹשׁי<!-- Purchase --></h4>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': purchase.acquisition.$invalid && !purchase.acquisition.$pristine} , {'rmv-btm-margin': purchase.acquisition.$invalid && !purchase.acquisition.$pristine}]">
                                <div class="control-label col-sm-3">Acquisition for goods <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="acquisition" 
                                        class="form-control" 
                                        ng-model="model.forms['Purchase']['Acquisition for']" 
                                        ng-required="true"
                                        ng-minlength="4" 
                                        ng-maxlength="40">
                                    <p ng-show="purchase.acquisition.$error.required && !purchase.acquisition.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>Acquisition field required</small>
                                    </p>
                                    <p ng-show="purchase.acquisition.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="purchase.acquisition.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': purchase.where.$invalid && !purchase.where.$pristine} , {'rmv-btm-margin': purchase.where.$invalid && !purchase.where.$pristine}]">
                                <div class="control-label col-sm-3">Place of purchase <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="where" 
                                        class="form-control" 
                                        ng-model="model.forms['Purchase']['Where']" 
                                        ng-required="true"
                                        ng-minlength="4" 
                                        ng-maxlength="40">
                                    <p ng-show="purchase.where.$error.required && !purchase.where.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>Where field required</small>
                                    </p>
                                    <p ng-show="purchase.where.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="purchase.where.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-4">
                                    <small class="help-block"><div style="color:red;display:inline-block;">*</div> - שדה חובה<!-- Required field --></small>
                                </div>
                            </div>
                            <div class="form-group"> 
                                <div class="col-sm-offset-4 col-sm-4">
                                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="purchase.$invalid">שמור<!-- Submit --></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="thumbnail container-pdd"  ng-show="model.forms['Other'].view">
                        <form class="form-horizontal" name="formOther" ng-submit="submit('Other')">
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <h4>אחר<!-- Other --></h4>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formOther.title.$invalid && !formOther.title.$pristine} , {'rmv-btm-margin': formOther.title.$invalid && !formOther.title.$pristine}]" >
                                <div class="control-label col-sm-3">נושא<!-- Title --> <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <input type="text" 
                                        name="title" 
                                        class="form-control" 
                                        ng-model="model.forms['Other']['Title']" 
                                        ng-required="true"
                                        ng-minlength="4" 
                                        ng-maxlength="20">
                                    <p ng-show="formOther.title.$error.required && !formOther.title.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>נושה שדה חובה<!-- Title required --></small>
                                    </p>
                                    <p ng-show="formOther.title.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formOther.title.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                </div>
                            </div>
                            <div class="form-group" ng-class="[{'has-error': formOther.msg.$invalid && !formOther.msg.$pristine} , {'rmv-btm-margin': formOther.msg.$invalid && !formOther.msg.$pristine}]">
                                <div class="control-label col-sm-3">תוכן<!-- Message --> <div style="color:red;display:inline-block;">*</div></div>
                                <div class="col-sm-8">
                                    <textarea class="form-control" 
                                        name="msg" 
                                        rows="4" 
                                        ng-model="model.forms['Other']['Message']" 
                                        ng-required="true"
                                        ng-minlength="4" 
                                        ng-maxlength="100">
                                    </textarea>
                                    <p ng-show="formOther.msg.$error.required && !formOther.msg.$pristine" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>תוכן שדה חובה<!-- Message required --></small>
                                    </p>
                                    <p ng-show="formOther.msg.$error.minlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>ארוך מדי<!-- To short --></small>
                                    </p>
                                    <p ng-show="formOther.msg.$error.maxlength" class="help-block rmv-btm-margin rmv-top-margin ">
                                        <small>קצר מדי<!-- To long --></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-4">
                                    <small class="help-block"><div style="color:red;display:inline-block;">*</div> - שדה חובה<!-- Required field--></small>
                                </div>
                            </div>
                            <div class="form-group"> 
                                <div class="col-sm-offset-3 col-sm-4">
                                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="formOther.$invalid" >שמור<!-- Submit --></button>
                                </div>
                            </div>
                        </form>
                    </div>
					<div class="container-mrg">
                        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="  closeAlert($index)">{{alert.msg}}</div>
                    </div>
				</div>

                
			</div>
		</div>
	</div>
</div>
