<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="">WebSiteName</a>
		</div>
		<ul class="nav navbar-nav"></ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			<li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
	</div>
</nav>

<div class="container container-mrg-lg">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4" ng-hide="model.isToken">
			<div class="panel panel-default">
				<div class="panel-heading" style="text-align: center">
		        	<h4 id="tables">Reset password</h4>
		        </div>
				<div class="panel-body">
					<div class="page-header" style="text-align: center; margin-top: 10px">
                        <img src="http://res.cloudinary.com/dfs2je0ss/image/upload/v1474900062/logo_djcykg.png" width="180px" >
                    </div>
                    <div class="thumbnail" style="padding:15px" ng-show="model.view">
                    	<form class="form" name="form" ng-submit="submitEmail(form)">
							<div class="form-group">
				        		<input type="email" placeholder="Email" name="email" class="form-control" ng-model="model.email" required>
				        		<div style="padding:10px; color: #777; font-size: 12px">
				        			Redirection to Change Password will be sended into this Email
				        		</div>
				        		
				        	</div>
				        	<div class="row">
				        		<div class="col-sm-12">
						    		<button class="btn btn-primary btn-block" type="submit">
						    			Send Email
						    		</button>
				        		</div>
				        	</div> 
						</form>
                    </div>
					
					<div class="container-mrg">
						<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="	closeAlert($index)">{{alert.msg}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default" ng-show="model.isToken">
				<div class="panel-heading" style="text-align: center">
		        	<h4 id="tables">Change password</h4>
		        </div>
				<div class="panel-body">
					<div class="page-header" style="text-align: center; margin-top: 10px">
                        <img src="http://res.cloudinary.com/dfs2je0ss/image/upload/v1474900062/logo_djcykg.png" width="180px" >
                    </div>
                    <div class="thumbnail" style="padding:15px" ng-show="model.view">
                    	<form class="form" name="form" ng-submit="submitPasswordChange(form)">
							<div class="form-group">
				        		<input type="password" placeholder="New password" name="password" class="form-control" ng-model="model.newPass" required>
				        	</div>
				        	<div class="form-group">
				        		<input type="password" placeholder="Confirm password" name="passwordConfirm" class="form-control" ng-model="model.confirmPass" required>
				        	</div>
				        	<div class="row">
				        		<div class="col-sm-12">
						    		<button class="btn btn-primary btn-block" type="submit">
						    			Change
						    		</button>
				        		</div>
				        	</div> 
						</form>
                    </div>
					
					<div class="container-mrg">
						<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="	closeAlert($index)">{{alert.msg}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>