<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <a class="navbar-brand" href="">Federation of jewish communities of the CIS</a>
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container container-mrg-lg">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<div class="panel panel-default" ng-controller='loginCtrl'>
				<div class="panel-heading" style="text-align: center">
		        	<h4 id="tables" >Login</h4>
		        </div>
				<div class="panel-body">
					<div class="page-header" style="text-align: center; margin-top: 10px">
                        <img src="http://res.cloudinary.com/dfs2je0ss/image/upload/v1474900062/logo_djcykg.png" width="180px" >
                    </div>
                    <div class="thumbnail" style="padding:15px">
		                <form class="form" name="formLogin" ng-submit="login(formLogin)">
							<div class="form-group">
				        		<input type="email" placeholder="Email" name="emailL" class="form-control" ng-model="user.email" required>
				        	</div>
				        	<div class="form-group" style="margin-bottom: 5px">
				        		<input type="password" placeholder="Password" name="passwordL" class="form-control" ng-model="user.password" required>
				        	</div>
				        	<div class="row">
				        		<div class="col-sm-12" style="text-align: center">
				        			<a href="#/password">Forgot password?</a>
				        		</div>
				        	</div>
				        	<div class="row" style="margin-top: 10px">
				        		<div class="col-sm-12">
						    		<button class="btn btn-primary btn-block" type="submit">
						    			Login
						    		</button>
				        		</div>
				        	</div> 
						</form>
                    </div>
					
					<div class="container-mrg">
						<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="	closeAlert($index)">{{alert.msg}}</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>