\<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <!-- <a class="navbar-brand" href="">Federation of jewish communities of the CIS</a> -->
            <ul class="nav navbar-nav">
                <li><a href="#/admin/users">משתמשים<!-- Users --></a></li>
                <li><a href="#/admin/cases">פניות<!-- Cases --></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login" ng-click="logout()"><span class="glyphicon glyphicon-log-in"></span> יציאה <!-- Log out --></a></li>
            </ul>
        </div>
	</div>
</nav>

<div class="container container-mrg-lg">
	<div class="panel panel-default">
        <div class="panel-heading">
            <h4 id="tables">ניהול מקרים<!-- Case Management --></h4>
        </div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="thumbnail" style="padding: 10px">
						<form class="form-inline" name="form">
							<div class="form-group">
		        				<label>חיפוש<!-- Search --></label>
								<input type="text" name="search" class="form-control" ng-model="model.search"  placeholder="חיפוש">
		        			</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="thumbnail" style="padding: 15px">
						<table class="table table-hover">
							 <thead>
                    	        <tr>
                                    <th>№</th>
                                    <th>פעולות<!-- Action --></th>
                                    <th>מספר פניה<!-- Case Code --></th>
                    	        	<th>משתמש<!-- User --></th>
                    	            <th>סוג פניה<!-- Case type --></th>
                    	            <th>סטטוס<!-- Status --></th>
                    	        </tr>
                    	    </thead>
                    	    <tbody>
                    	        <tr ng-repeat="case in (model.cases | orderBy:model.sortKey:model.reverse | filter:model.search).slice((model.currentPage-1)*15, ( model.currentPage-1)*15+15)">
                                    <td ng-click="openDetails(case)">{{(model.currentPage-1)*15+$index + 1}}</td>
                                    <td width="120px">
                                        <a ng-show="case.status=='rejected'" href="" ng-click="approve(case._id)">פעילות<!-- Activate --></a>
                                        <a ng-show="case.status=='approved'" href="" ng-click="reject(case._id)">הקפאת משתמש<!-- Deactivate --></a>
                                        <div ng-show="case.status=='waiting'">
                                            <a href="" ng-click="reject(case._id)">סרב<!-- Reject --></a>
                                              <b> | </b>
                                            <a href="" ng-click="approve(case._id)">אשר<!-- Approve --></a>
                                        </div>
                                    </td>
                                    <td ng-click="openDetails(case)">#{{case.number}}</td>
                                    <td ng-click="openDetails(case)">{{case.userName}}</td>
                                    <td ng-click="openDetails(case)">{{case.name}}</td>
                                    <td ng-click="openDetails(case)">
                                    	<span class="label label-info" ng-show="case.status=='waiting'">ממתין<!-- Waiting --></span>
                                    	<span class="label label-warning" ng-show="case.status=='rejected'">מסורב<!-- Rejected --></span>
                                    	<span class="label label-success" ng-show="case.status=='approved'">מאושר<!-- Approved --></span>
                                    </td>
                                    
                    	        </tr>
                    	    </tbody>
						</table>
					</div>
                    <div class="container-mrg">
                         <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="  closeAlert($index)">{{alert.msg}}</div>
                    </div>
				</div>
			</div>
            <div class="row">
                <div class="col-sm-12">
                    <ul uib-pagination total-items="(model.cases | filter:model.search).length" 
                    items-per-page="15" 
                    ng-model="model.currentPage"
                    previous-text="&rsaquo;" 
                    next-text="&lsaquo;"></ul>
                </div>
            </div>
		</div>
	</div>	
</div>

<!-- Modals -->

<script type="text/ng-template" id="caseDetailsModal.html">
    <div class="modal-header">
        <table>
            <tr>
                <td><h3 class="modal-title" id="modal-title">פרטי פניה<!-- Case Details -->: </h3></td>
                <td><h3 class="modal-title" id="modal-title">#{{model.number}}</h3></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>תאריך יצירה<!-- Created date -->: </td>
                <td>{{model.created}}</td>
            </tr>
        </table>
    </div>
    <div class="modal-body" id="modal-body">
        <table style="margin-left: 20px">
            <tr>
                <td><div class="label-details">בעלים<!-- Owner -->:</div></td> <td>{{model.userName}}</td>
            </tr>
            <tr>
                <td><div class="label-details">סוג<!-- Type -->:</div></td> <td>{{model.name}}</td>
            </tr>
            <tr>
               <td><div class="label-details">סטטוס<!-- Status -->:</div></td>
               <td>
                    <span class="label label-info" ng-show="model.status=='waiting'">ממתין<!-- Waiting --></span>
                    <span class="label label-warning" ng-show="model.status=='rejected'">מסורב<!-- Rejected --></span>
                    <span class="label label-success" ng-show="model.status=='approved'">מאושר<!-- Approved --></span>
               </td>
            </tr>
            <tr ng-repeat="(key, value) in model.body">
                <td><div class="label-details">{{key}}:</div></td>
                <td>{{value}}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button ng-show="model.status=='waiting'" class="btn btn-success" type="button" ng-click="approve()">אשר<!-- Approve --></button>
        <button ng-show="model.status=='waiting'" class="btn btn-danger" type="button" ng-click="reject()">סרב<!-- Reject --></button>
        <button ng-show="model.status=='rejected'" class="btn btn-success" type="button" ng-click="approve()">פעילות<!-- Activate --></button>
        <button ng-show="model.status=='approved'" class="btn btn-danger" type="button" ng-click="reject()">הקפאת משתמש<!-- Deactivate --></button>
        <button class="btn btn-default" type="button" ng-click="cancel()">סגור<!-- Close --></button>
    </div>
</script>

<script type="text/ng-template" id="resultModal.html">
    <div class="modal-body" id="modal-body">
        <div role="alert" ng-class="'alert alert-' + (model.type || 'warning')">{{model.message}}</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">סגור<!-- Close --></button>
    </div>
</script>
